################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Clone1-API/bin
/Clone1-API/obj
/Clone1-API/Properties/PublishProfiles
/packages
/ExampleAPI
